/* global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    background-image: url(./imgs/vistaPreviaAgrega.jpg);
    background-size: cover;
    color: #333;
    line-height: 1.6;
}
header{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
    position: fixed;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.navbar{
    display: flex;
    align-items: center;
}
.menu{
    margin-right: 200px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: baseline;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}
nav ul li a:hover{
    color: #ffcc00;
}

/* search bar */
.search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: aliceblue;
    padding: 7px;
    border-radius: 5px;
    margin-right: 20px;
}
li>input{
    border: none;
    background-color:aliceblue ;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}
li>button{
    border: 1px solid rgb(139, 139, 231);
    border-radius: 5px;
    padding: 4px 10px;
    background-color: rgb(38, 38, 95);
    color: white;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.3s ease;
}

